<ul class="unstyled-list clearfix">
  <li class="nav-search">
    <ul class="unstyled-list clearfix">
      <li class="search-box clearfix">
        <a href="javascript:;"><i class="fa fa-search" aria-hidden="true"></i></a>
        <form id="search-form">
          <input type="search" placeholder="Enter Barcode, DSID or any search term..." id="search-query" name="search-query" autocomplete="off"
            onfocus="this.placeholder = ''" onblur="this.placeholder='Enter Barcode, DSID or any search term...' ">
        </form>
      </li>
    </ul>
  </li>
</ul>