<p-tabView>
  <p-tabPanel header="Add" [selected]="true">
    <div class="ui-g">
      <div class="ui-g-6 ui-md-6">
        <app-digital-prefix> </app-digital-prefix>
      </div>
      <div class="ui-g-6 ui-md-6">
        <app-channel-notification></app-channel-notification>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Operations Dashboard">
    Content 2
  </p-tabPanel>
  <p-tabPanel header="Security">
    Content 3
  </p-tabPanel>
  <p-tabPanel header="Notifications">
    Content 3
  </p-tabPanel>
</p-tabView>