.ui-chkbox-label {
    vertical-align: middle;
    color: #616C7D;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
}
.checkboxbuttons .checkbox-list{
    padding:0!important;
    width:100%;
    margin-bottom:8px;
}
.ui-chkbox .ui-chkbox-box{
    border:1px solid #A1A7B1;
}
.ui-chkbox-box.ui-state-active{
    background:#1BBAE1;
}
.ui-chkbox .ui-chkbox-icon {
    color: #fff;
    font-size: 10px;
    font-weight: normal;
    line-height: 13px;
}