.ui-dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    height:32px;
    width: 100%!important;
    border: 1px solid #D2DCE6;	
    border-radius: 2px;
    line-height: 24px;
}
.ui-dropdown .ui-dropdown-trigger{
    top:4px;
}