<ul class="topbar-items animated fadeInDown">
  <!---->
  <li>
    <a href="#"> 
        <i class="fa fa-archive" aria-hidden="true"></i>                          
    </a>
  </li>
  <li>
    <a href="#"> 
        <i class="fa fa-bell" aria-hidden="true"></i>
        <span class="topbar-badge animated rubberBand">5</span>                            
    </a>
  </li>
  <li>
    <a href="#"> 
      <i class="fa fa-user" aria-hidden="true"></i>                                                     
    </a>
  </li>
</ul>